# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
agent

# Workspace
workdir/bin/
workdir/vendor/
# Ignore Go build cache but not source packages under workdir/pkg/
workdir/pkg/**/*.a
workdir/pkg/**/*.h
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temp
tmp/
temp/
/ohe
/workdir/ohe
workdir/operator/ohe-operator
!sdk/python/ohe/
sdk/python/**/__pycache__/
sdk/python/**/*.pyc
